pkgbase = chili-sddm-theme-custom
	pkgdesc = Chili theme for SDDM (with custom patches)
	pkgver = 0.1.5
	pkgrel = 1
	url = https://github.com/MarianArlt/sddm-chili
	install = chili-sddm-theme.install
	arch = any
	license = GPL-3.0-Only
	depends = qt5-graphicaleffects
	depends = qt5-quickcontrols
	depends = sddm
	source = https://github.com/MarianArlt/sddm-chili/archive/0.1.5.tar.gz
	source = clock.patch
	sha256sums = a3c0607bf70f448fff0a271624e3bc15af978894c04c98355d00a57431e49a0f
	sha256sums = 5e579642da9cc4521352be01e9668ae202c9ed44325454b94ad79506eb2cec00

pkgname = chili-sddm-theme-custom
